# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv

# Git
.git
.gitignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Логи и данные
logs/
*.log
videos/
.env

# Тесты
tests/
test_*.py